* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    color: #ccc;
    width: 100%;
    height: 100%;
}

body,
#app {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ccc;
}

ul {
    list-style: none;
}

.clearfix::before,
.clearfix::after{
    content:"";
    display:block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear:both;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}


